apiVersion: v1
kind: ConfigMap
metadata:
  name: '{{ .Release.Name }}-ua-configmap'
  namespace: {{ .Release.Namespace }}
data:
  UAGTRANSIENT: {{ .Values.uaConfig.uagTransient | quote }} 
  UAGAGENTCLUSTERS: {{ .Values.uaConfig.uagagentclusters | quote }} 
  UAGOMSSERVERS: {{ .Values.uaConfig.omsServers | quote }}
  OMS_PORT: {{ .Values.uaConfig.omsPort | quote }} 
  OMSAUTOSTART: {{ .Values.uaConfig.omsAutoStart | quote }}
  TMP_DIRECTORY: {{ .Values.uaConfig.tmpdirectory | quote }}
  TRACE_FILE_LINES: {{ .Values.uaConfig.tracefilelines | quote }}
  TRACE_TABLE: {{ .Values.uaConfig.tracetable | quote }}
  TRACE_DIRECTORY: {{ .Values.uaConfig.tracedirectory | quote }}
  MESSAGE_LEVEL: {{ .Values.uaConfig.messagelevel | quote }}
  CODEPAGE: {{ .Values.uaConfig.codepage | quote }}
  PROXY_URL: {{ .Values.uaConfig.proxyurl | quote }}
  LOGLVL: {{ .Values.uaConfig.loglvl | quote }}
  TXTDEBUG: {{ .Values.uaConfig.txtdebug | quote }}
  NETNAME: {{ .Values.uaConfig.netname | quote }}
  SECURITY: {{ .Values.uaConfig.security | quote }}
  SSL_SERVER_AUTH: {{ .Values.uaConfig.sslserverauth | quote }}
  SSL_CLIENT_AUTH: {{ .Values.uaConfig.sslclientauth | quote }}
  SSL_CIPHER_LIST: {{ .Values.uaConfig.sslcipherlist | quote }}
  SSL_CIPHER_SUITES: {{ .Values.uaConfig.sslciphersuites | quote }}
  MIN_SSL_PROTOCOL: {{ .Values.uaConfig.minsslprotocol | quote }}
  MAX_SSL_PROTOCOL: {{ .Values.uaConfig.maxsslprotocol | quote }}
  DATA_DIRECTORY: {{ .Values.uaConfig.datadirectory | quote }}
  AGENT_IP: {{ .Values.uaConfig.agentip | quote }}
  JTSK_NUM: {{ .Values.uaConfig.jtsknum | quote }}
  TASK_RETRY_COUNT: {{ .Values.uaConfig.taskretrycount | quote }}
  TASK_RETRY_INTERVAL: {{ .Values.uaConfig.taskretryinterval | quote }}
  FTP_FM_FAULT_TOLERANCE: {{ .Values.uaConfig.ftpfmfaulttolerance | quote }}
  PROCESS_CANCEL_TIMEOUT: {{ .Values.uaConfig.processcanceltimeout | quote }}
  KILL_PROCESS_TREE: {{ .Values.uaConfig.killprocesstree | quote }}
  SERVICE_TIMEOUT: {{ .Values.uaConfig.servicetimeout | quote }}
  EXTENSION_ACCEPT_LIST: {{ .Values.uaConfig.extensionacceptlist | quote }} 
  EXTENSION_DEPLOY_ON_REGISTRATION: {{ .Values.uaConfig.extensiondeployonregistration | quote }}
  EXTENSION_PYTHON_LIST: {{ .Values.uaConfig.extensionpythonlist | quote }}
  EXTENSION_CHECKSUM_TIMEOUT: {{ .Values.uaConfig.extensionchecksumtimeout | quote }}
  EXTENSION_CANCEL_TIMEOUT: {{ .Values.uaConfig.extensioncanceltimeout | quote }}
  BUSINESS_SERVICES: {{ .Values.uaConfig.businessservices | quote }}
  OTEL_ENABLE_TRACING: {{ .Values.uaConfig.otelenabletracing | quote }}
  OTEL_EXPORT_METRICS: {{ .Values.uaConfig.otelexportmetrics | quote }}
  OTEL_TRACE_ENDPOINT: {{ .Values.uaConfig.oteltraceendpoint | quote }}
  OTEL_METRICS_ENDPOINT: {{ .Values.uaConfig.otelmetricsendpoint | quote }}
  OTEL_METRICS_EXPORT_INTERVAL: {{ .Values.uaConfig.otelmetricsexportinterval | quote }}
  OTEL_SERVICE_NAME: {{ .Values.uaConfig.otelservicename | quote }}
  OTEL_UIP_SERVICE_NAME: {{ .Values.uaConfig.oteluipservicename | quote }}
  OTEL_SSL_INSECURE_SKIP_VERIFY: {{ .Values.uaConfig.otelsslinsecureskipverify | quote }}
  OTEL_SSL_CA_CERT_PATH: {{ .Values.uaConfig.otelsslcacertpath | quote }}
  OTEL_SSL_CLIENT_CERT_PATH: {{ .Values.uaConfig.otelsslclientcertpath | quote }}
  AUTHENTICATE_PEER: {{ .Values.uaConfig.authenticatePeer | quote }}
  OMSDNSCACHETIMEOUT: {{ .Values.uaConfig.omsDNSCacheTimeout | quote }}
  OMSINDEXCACHESIZE: {{ .Values.uaConfig.omsIndexCacheSize | quote }}
  INSTALLATION_DIRECTORY: {{ .Values.uaConfig.InstallationDirectory | quote }}
  OMSMAXCONNECTIONS: {{ .Values.uaConfig.omsMaxConnections | quote }}
  OMSMAXDATAFILESIZE: {{ .Values.uaConfig.maxfilesize | quote }}
  OMSMAXMSGSIZE: {{ .Values.uaConfig.maxmessagesize | quote }}
  OMSMAXSSLPROTOCOL: {{ .Values.uaConfig.omsMaxSSLProtocol | quote }}
  OMSLANG: {{ .Values.uaConfig.omsLanguage | quote }}
  OMSLEVEL: {{ .Values.uaConfig.omsLevel | quote }}
  OMSMINSSLPROTOCOL: {{ .Values.uaConfig.omsMinSSLProtocol | quote }}
  OMSMSGCHUNKSIZE: {{ .Values.uaConfig.chunksize | quote }}
  OMSMSGCLEANUPINTERVAL: {{ .Values.uaConfig.omsMSGCleanupInterval | quote }}
  OMSMSGDATAFLUSHINT: {{ .Values.uaConfig.omsMSGDataFlushInt | quote }}
  OMSMSGSUPPRESSIONLIST: {{ .Values.uaConfig.omsMSGSuppressionList | quote }}
  NLS_DIRECTORY: {{ .Values.uaConfig.NLSDirectory | quote }}
  OMSSERVICEBACKLOG: {{ .Values.uaConfig.omsServiceBacklog | quote }}
  OMSSVCIPADDR: {{ .Values.uaConfig.omsSVCIAddr | quote }}
  OMSSVCPORT: {{ .Values.uaConfig.omsSVCIPort | quote }}
  OMSSERVICETIMEOUT: {{ .Values.uaConfig.omsServiceTimeout | quote }}
  uags.conf: |
    installation_directory          /opt/universal/uagsrv
    tls_sni_hostname                {{ .Values.uaConfig.uagSNIHostname | quote }}
    message_level                   {{ .Values.uaConfig.messagelevel }}
    security                        {{ .Values.uaConfig.security }}
    agent_clusters                  {{ .Values.uaConfig.uagagentclusters | quote }}
    loglvl                          {{ .Values.uaConfig.loglvl }}
    txtdebug                        {{ .Values.uaConfig.txtdebug }}
    netname                         {{ .Values.uaConfig.netname }}
    oms_servers                     {{ .Values.uaConfig.omsServers }}
{{- if ne .Values.uaConfig.proxyurl "(none)" }}
    proxy_url                       {{ .Values.uaConfig.proxyurl }}
{{- end }}
    ssl_server_auth                 {{ .Values.uaConfig.sslserverauth }}
    ssl_client_auth                 {{ .Values.uaConfig.sslclientauth }}
    ssl_cipher_list                 {{ .Values.uaConfig.sslcipherlist | replace " + " "" | replace "\n" "" | replace "  " " " | quote }}
    ssl_cipher_suites               {{ .Values.uaConfig.sslciphersuites | replace " + " "" | replace "\n" "" | replace "  " " " | quote }}
    min_ssl_protocol                {{ .Values.uaConfig.minsslprotocol }}
    max_ssl_protocol                {{ .Values.uaConfig.maxsslprotocol }}
    data_directory                  {{ .Values.uaConfig.datadirectory }}
{{- if ne .Values.uaConfig.agentip "*" }}
    agent_ip                        {{ .Values.uaConfig.agentip }}
{{- end }}
    jtsk_num                        {{ .Values.uaConfig.jtsknum }}
    task_retry_count                {{ .Values.uaConfig.taskretrycount }}
    task_retry_interval             {{ .Values.uaConfig.taskretryinterval }}
    ftp_fm_fault_tolerance          {{ .Values.uaConfig.ftpfmfaulttolerance }}
    transient                       {{ .Values.uaConfig.uagTransient }}
    process_cancel_timeout          {{ .Values.uaConfig.processcanceltimeout }}
    kill_process_tree               {{ .Values.uaConfig.killprocesstree }}
    service_timeout                 {{ .Values.uaConfig.servicetimeout }}
    extension_accept_list           {{ .Values.uaConfig.extensionacceptlist }}
    extension_deploy_on_registration {{ .Values.uaConfig.extensiondeployonregistration }}
    extension_python_list           {{ .Values.uaConfig.extensionpythonlist | quote }}
    extension_checksum_timeout      {{ .Values.uaConfig.extensionchecksumtimeout }}
    extension_cancel_timeout        {{ .Values.uaConfig.extensioncanceltimeout }}
    business_services               {{ .Values.uaConfig.businessservices | quote }}
    tmp_directory                   {{ .Values.uaConfig.tmpdirectory }}
    trace_file_lines                {{ .Values.uaConfig.tracefilelines }}
    trace_table                     {{ .Values.uaConfig.tracetable | quote }}
    trace_directory                 {{ .Values.uaConfig.tracedirectory }}
    codepage                        {{ .Values.uaConfig.codepage }}
{{- if ne .Values.uaConfig.omsAutoStart "no" }}
    oms_autostart                   {{ .Values.uaConfig.omsAutoStart }}
{{- end }}
{{- if .Values.uaConfig.NLSDirectory }}
    nls_directory                   {{ .Values.uaConfig.NLSDirectory }}
{{- end }}
    otel_enable_tracing             {{ .Values.uaConfig.otelenabletracing }}
    otel_export_metrics             {{ .Values.uaConfig.otelexportmetrics }}
    otel_trace_endpoint             {{ .Values.uaConfig.oteltraceendpoint }}
    otel_metrics_endpoint           {{ .Values.uaConfig.otelmetricsendpoint }}
    otel_metrics_export_interval    {{ .Values.uaConfig.otelmetricsexportinterval }}
    otel_service_name               {{ .Values.uaConfig.otelservicename }}
    otel_uip_service_name           {{ .Values.uaConfig.oteluipservicename }}
    otel_ssl_insecure_skip_verify   {{ .Values.uaConfig.otelsslinsecureskipverify }}
{{- if ne .Values.uaConfig.otelsslcacertpath "(none)" }}
    otel_ssl_ca_cert_path           {{ .Values.uaConfig.otelsslcacertpath }}
{{- end }}
{{- if ne .Values.uaConfig.otelsslclientcertpath "(none)" }}
    otel_ssl_client_cert_path       {{ .Values.uaConfig.otelsslclientcertpath }}
{{- end }}
  udms.conf: |
    installation_directory             {{ .Values.udmConfig.installationDirectory }}
    nls_directory                      {{ .Values.udmConfig.nlsDirectory }}
    message_level                      {{ .Values.udmConfig.messageLevel }}
    security                           {{ .Values.udmConfig.security }}
    tmp_directory                      {{ .Values.udmConfig.tmpDirectory }}
    trace_directory                    {{ .Values.udmConfig.traceDirectory }}
    trace_file_lines                   {{ .Values.udmConfig.traceFileLines }}
    trace_table                        {{ .Values.udmConfig.traceTable }}
    codepage                           {{ .Values.udmConfig.codepage }}
    umask                              {{ .Values.udmConfig.umask }}
    network_delay                      {{ .Values.udmConfig.networkDelay }}
    reconnect_retry_count              {{ .Values.udmConfig.reconnectRetryCount }}
    reconnect_retry_interval           {{ .Values.udmConfig.reconnectRetryInterval }}
    compress                           {{ .Values.udmConfig.compress }}
    data_ssl_cipher_list               {{ .Values.udmConfig.dataSslCipherList }}
    data_ssl_cipher_suites             {{ .Values.udmConfig.dataSslCipherSuites }}
    min_ssl_protocol                   {{ .Values.udmConfig.minSslProtocol }}
    max_ssl_protocol                   {{ .Values.udmConfig.maxSslProtocol }}
    encrypt_control_session            {{ .Values.udmConfig.encryptControlSession }}
    verify_host_name                   {{ .Values.udmConfig.verifyHostName }}
{{- if .Values.secrets.caCertificates.enabled }}
    ca_certificates                    {{ .Values.secrets.caCertificates.mountPath }}/{{ .Values.secrets.caCertificates.fileName }}
{{- end }}
    recv_buffer_size                   {{ .Values.udmConfig.recvBufferSize }}
    send_buffer_size                   {{ .Values.udmConfig.sendBufferSize }}
    frame_interval                     {{ .Values.udmConfig.frameInterval }}
    tcp_recv_buffer                    {{ .Values.udmConfig.tcpRecvBuffer }}
    tcp_send_buffer                    {{ .Values.udmConfig.tcpSendBuffer }}
    allow_repl_on_rename               {{ .Values.udmConfig.allowReplOnRename }}
    activity_monitoring                {{ .Values.udmConfig.activityMonitoring }}
    event_generation                   {{ .Values.udmConfig.eventGeneration }}
    tcp_no_delay                       {{ .Values.udmConfig.tcpNoDelay }}
  ubroker.conf: |
    installation_directory      /opt/universal/ubroker
    spool_directory             /var/opt/universal/spool
    message_level               {{ .Values.uaConfig.messagelevel }}
    message_dest                logfile
    trace_file_lines            {{ .Values.uaConfig.tracefilelines }}
    service_port                7887
{{- if .Values.secrets.caCertificates.enabled }}
    ca_certificates             {{ .Values.secrets.caCertificates.mountPath }}/{{ .Values.secrets.caCertificates.fileName }}
{{- end }}
{{- if .Values.pam.createUcmd }}
  ucmd: |
    {{- if eq .Values.pam.distro "debian" }}
    auth       include       common-auth
    account    include       common-account
    session    include       common-session
    {{- else }}{{/* default rhel */}}
    auth       include       system-auth
    account    include       system-auth
    session    include       system-auth
    {{- end }}
{{- end }}
